// ==============
// Asset paths
// ==============

$asset-path-images: "../plugins/discourse-cm/images/";

// ==============
// Colours
// ==============

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #878787;
$color-grey-dark: #2a2a2a;
$color-grey-light: #f7f7f7;

$color-a-primary: #57dbe7;
$color-a-secondary: #e6fafb;
$color-a-tertiary: #d2f7f9;
$color-b-primary: #28A584;
$color-b-secondary: #4e4547;
$color-c-primary: #6b8c2b;
$color-d-primary: #36a18e;

// ==============
// Headings
// ==============

$font-primary: 'Work Sans', sans-serif;
$font-secondary: 'Gilroy', sans-serif;

$font-family-base: $font-primary;
$font-size-base: .875rem;
$font-weight-base: normal;
$line-height-base: 1.35;

$headings-font-family: $font-primary;
$heading-letter-spacing: 0.02rem;
$heading-color: $color-black;

$h1-font-size: px-rem(18px);
$h1-line-height: px-rem(23px);
$h2-font-size: px-rem(14px);
$h2-line-height: px-rem(20px);
$h3-font-size: px-rem(12px);
$h3-line-height: px-rem(16px);
$h4-font-size: px-rem(10px);
$h4-line-height: px-rem(14px);

// ==============
// Spacing
// ==============

$spacer: 20px;

// ==============
// Buttons
// ==============

$btn-font-size: px-rem(14px);
$btn-font-family: $font-secondary;
$btn-line-height: px-rem(20px);
$btn-border-radius: 20px;
$btn-padding: $spacer/4 $spacer/2;

// ==============
// Inputs
// ==============

$input-font-size: px-rem(18px);
$input-border-width: 1px;
$input-border-color: $color-grey-light;
$input-border-radius: 5px;

// ==============
// Categories
// ==============

$category-title-font-size: px-rem(18px);
$category-title-padding: 10px 10px;
$category-topic-font-size: px-rem(16px);
$category-posts-font-size: px-rem(14px);
$category-box-header-font-size: px-rem(16px);
$category-box-header-line-height: 1.35;

// ==============
// Topic list
// ==============

$topic-title-font-size: px-rem(18px);
$topic-title-font-family: $font-secondary;
$topic-category-font-family: $font-secondary;

// ==============
// Discourse Header
// ==============

$d-header-title-font-size-desktop: px-rem(18px);
$d-header-title-font-size-mobile: px-rem(16px);

// ==============
// Menu Panel
// ==============

$menu-panel-font-family: $font-secondary;
$menu-panel-font-size: px-rem(14px);
$menu-panel-link-color: $color-black;
