// ========================================
// Dropdowns
// ========================================

.list-controls .nav-pills > li {
  border-radius: $input-border-radius;
  border-width: $input-border-width;
  border-color: $input-border-color;
  border-style: solid;

  a:hover {
    color: inherit;
    background: none;
  }
}

.nav.nav-pills .drop {
  border-radius: $input-border-radius;
  border-width: $input-border-width;
  border-color: $input-border-color;
  border-style: solid;
}
