// ========================================
// Notice Plugin
// ========================================

.c-notice {
  height: 300px;
  background-size: cover;
}

.c-notice__content {

  &__heading {
    font-size: 1.6rem;
    margin-bottom: $spacer/2;
  }

  &__message {
    color: $color-white;
  }
}
