// ========================================
// Dropdowns
// ========================================

.list-controls .nav-pills > li {
  a:hover {
    color: $color-white;
    background: $color-grey-light;
  }
}
