// ========================================
// Buttons
// ========================================

.btn {
  border-radius: $btn-border-radius;
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  padding: $btn-padding;

  .d-button-label {
    font-size: $btn-font-size;
    font-family: $btn-font-family;
  }
}


.nav-pills > li > a {
  border-radius: $btn-border-radius;
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  padding: $btn-padding;

  &:hover {
    color: $color-black !important;
  }

  &.active {
    &:hover {
      color: #fff !important;
      background: $color-a-primary !important;
    }
  }
}

button#create-topic span {
  display: inline-block;
}

.user-main .about .controls .btn {
  line-height: 20px;
}

div.ac-wrap div.item a.remove, .remove-link {
  background: $color-grey;
  border: 1px solid $color-grey;
}
