// // ========================================
// // Discourse Header
// // ========================================

.d-header {
  background: $color-grey-light;
  box-shadow: none;
  // max-width: 69.375rem;
  // left: 50%;
  // transform: translateX(-50%);

  // .title .text-logo {
  //   color: $color-grey;
  // }

  // Topic title and back button colors
  // .title-wrapper {
    
  //   .title-back {
  //     color: $color-black;
  //   }
  // }

  #site-text-logo {
    color: $color-grey;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    font-weight: 700;
    letter-spacing: .02rem;
  }
}

// Docked header
.docked .d-header {
  margin: 0px !important;


  // Topic title and back button
  // .extra-info-wrapper {
  //   padding: 0 $spacer 0 0;
  // }

  // .title-wrapper {
  //   align-items: center;

  //   h1 {
  //     flex: 1 1 auto;
  //     margin-bottom: 0;
  //     padding: $spacer/4 0;
      
  //     .topic-link {
  //       font-size: $d-header-title-font-size-mobile;
  //     }
  //   }

  //   .title-back {
  //     flex: 0 0 auto;
  //     padding: $spacer/4 0;

  //     span {
  //       display: none;
  //     }
  //   }
  // }
}

.extra-info-wrapper  {
  .topic-link {
    color: $color-grey;
  }
}

// .docked.drop-down-mode .d-header {
//   .d-header-icons .icon {
//     &.active {
//       background-color: $color-grey;
//     }
//   }
// }

// // ========================================
// // Menu Panel
// // ========================================

// .menu-panel {
//   .panel-body {
//     padding-top: 0;
//     padding-bottom: 0;
//   }

//   li a, li.heading a {
//     padding: $spacer/3.5 $spacer/4;
//   }

//   li a:hover {
//     background-color: $color-a-secondary;
//   }

//   .d-label, .d-link {
//     font-family: $menu-panel-font-family;
//     font-size: $menu-panel-font-size;
//     color: $menu-panel-link-color;
//   }

//   .menu-container-cm-toolbar-links {
//     li {
//       padding: 0;

//       a {
//         padding-top: $spacer/2;
//         padding-bottom: $spacer/2;
//         padding-left: $spacer/3;
//       }

//       &:nth-child(1) {
//         width: calc(50% - 1px);
//         border-right: 1px solid $color-grey-light;
//         border-bottom: 1px solid $color-grey-light;
//       }

//       &:nth-child(2) {
//         border-bottom: 1px solid $color-grey-light;
//       }

//       &:nth-child(3) {
//         width: calc(50% - 1px);
//         border-right: 1px solid $color-grey-light;
//       }
//     }
//   }

//   .menu-container-admin-links {
//     li {
//       padding: 0;

//       a {
//         padding-top: $spacer/2;
//         padding-bottom: $spacer/2;
//       }
//     }
//   }

//   .menu-container-general-links {
//     li {
//       padding: 0;

//       a {
//         padding-top: $spacer/2;
//         padding-bottom: $spacer/2;
//       }
//     }
//   }

//   hr {
//     margin: 0;
//   }
// }
