// ========================================
// Notice Plugin
// ========================================

.c-notice {
  position: relative;
  width: 100%;
  margin-bottom: $spacer;
  padding: $spacer;
  box-sizing: border-box;
  background: #FFC1A0;
  background-image: url("#{$asset-path-images}c-notice-bg.png");
}

.c-notice__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  &__heading {
    color: $color-white;
  }

  &__message {
    color: $color-white;
  }
}

.c-notice__dismiss {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 44px;
  height: 44px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;

  &:focus, &:active {
    outline: none;
  }

  svg {
    width: 22px;
    height: 22px;
    fill: $color-white;
  }
}
