// ========================================
// Topics
// ========================================

// Remove default border top on tbody
.topic-list tbody {
  border-top: 0;
}

.topic-list-item {
  .main-link {
    .title {
      font-size: $topic-title-font-size;
      font-family: $topic-title-font-family;
      color: $color-black;
    }
  }

  &.visited {
    .main-link {
      .title {
        color: $color-black !important;
      }
    }
  }

  .badge-wrapper.bullet span.badge-category {
    font-family: $topic-category-font-family;
  }
}

.topic-map {
  .widget-button {
    border-radius: 0;
  }
}

.topic-post {
  .trigger-user-card {
    .username {
      font-family: $font-secondary;

      a {
        color: $color-black;
      }
    }
  }
  .post-menu-area .post-controls .actions span {
    margin-left: auto;
  }
}

.topic-category {
  .badge-wrapper.bullet span.badge-category {
    font-weight: normal;
  }
}
