// ========================================
// Users
// ========================================

.user-main .about.has-background .details {
    background: $color-white;
}

#user-card .card-content, #group-card .card-content {
    background: $color-white;
}

#user-card .user-card-avatar, #user-card .group-card-avatar, #group-card .user-card-avatar, #group-card .group-card-avatar {
    margin-top: 0;
}
